body {
    font-family: 'Comforta', sans-serif;
    // color: rgb(103, 102, 102, 0.7);
    color: #9ca39b;
    // background-color: rgb(226, 211, 205, 0.3);
    background-color: var(--primary-background-color);
}   